*.iml
.gradle
.idea
.kotlin
build

xcuserdata
local.properties
composeApp/build/classes
composeApp/build/compileSync
composeApp/build/compose
composeApp/build/generated
composeApp/build/kotlin
composeApp/build/kotlin-multiplatform-resources
composeApp/build/kotlin-webpack
composeApp/build/kotlinProjectStructureMetadata
composeApp/build/libs
composeApp/build/processedResources
composeApp/build/tmp

.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
